* {
  box-sizing: border-box;
}

.news-section {
  width: 1000px;
  padding: 10px;
  border: 1px solid #d3d3d3;

  font-size: 0px;
}

.half-box {
  vertical-align: top;
  display: inline-block;

  width: 50%;
  height: 100%;

  padding: 10px;
  border: 1px solid #d3d3d3;

  /* 폰트의 사이즈를 원래 크기로 돌려놔라 */
  font-size: 1rem;
}

.photo-news {
  display: inline-block;

  width: 48%;
  padding: 10px;
  border: 1px solid #d3d3d3;
}
