.issue-up {
  padding-left: 10px;
  display: inline;
}

ul {
  display: inline-block;
}

.main {
  text-align: center;
}
p {
  font-size: 14px;
}

.news-section {
  width: 1000px;
  padding: 10px;
  border-top: 1px solid #333;
  margin: 0 auto;
}

.navigation-item {
  display: inline-block;
  padding: 10px;
  margin: 2px;
  border: 1px solid #999;
  border-radius: 20px;
  background-color: #fff;
}

.navigation-item-fun {
  display: inline-block;
  padding: 10px;
  margin: 2px;
  border: 1px solid #f00;
  border-radius: 20px;
  background-color: #f00;
  color: #fff;
}

.news {
  display: inline-block;

  width: 20%;
  padding: 10px;

  margin: 5px;
}

.image {
  width: 200px;
  height: 120px;
  background-color: #eee;
  border-radius: 10px;
}

.issue {
  text-align: left;
  font-size: 12px;
  margin: 2px;
}

.menu {
  text-align: left;
  font-size: 14px;
  color: #f00;
}
