body {
  background-color: #333;
}

.dynamic {
  background-color: #fafafa;

  border: 1px solid #333;
  padding: 0.625rem;

  width: 100%;
  max-width: 680px;

  margin: 0 auto;
}

.contents {
  border: 1px solid #333;
  margin: 3px;
}
